<article id="accueil">
  <div class="focusBox">
    <p>
      Bienvenue au plus grand rassemblement de penseurs, économistes, informaticiens, utilisateurs et simples
      curieux de Monnaie Libre.
    </p><p>
    Cette 12ème édition se déroulera pour la première fois à <strong>Bordeaux du 17 au 25 novembre 2018</strong>.
  </p><p>
    L'entrée est libre.
  </p><p>
    En 9 jours nous irons de la découverte ludique des alternatives monétaires aux conférences techniques
    avec les développeurs experts (<a href="#programme">voir le programme</a>).
  </p>
  </div>
  {build:decouvrir}
</article>
